{% extends 'web/base_sidebar.html' %}
{% load staticfiles %}
{% block sub_title %}
  Universities
{% endblock sub_title %}

{% block sub_heading %}
  Universities
{% endblock sub_heading %}


{% block content %}
<h1 class="content-head">Select a University</h1>
<p>
Any universities associated with your account are shown in the right hand navigation box. Click to select a university.
</p>
{% endblock content %}


{% block sidemenuitems %}    
    <li class="pure-menu-heading">My Universities</li>
    <li><span class="pure-menu-link pure-menu-instruction">Select University</span></li>
    {% for university in university_list %}
    <li class="pure-menu-item"><a href="{% url 'web.university.department.list' university.slug %}" class="pure-menu-link">{{ university.name }}</a></li>
    {% endfor %}  
    
{% endblock sidemenuitems %}

