{% extends 'web/base.html' %}


{% block heading_extra %}

{% endblock heading_extra %}

{% block content %}

<h1 class="content-head">
  Our vision
</h1>
<p>

    Our vision at ALIU ACADEMY is to use technology to spread
    education across Africa and other parts of the world because
    we believe in the words of Nelson Mandela: 
    
    <blockquote> 
    "Education is the most powerful weapon which you can use to change the world.
    It is the great engine of personal development. It is through
    education that the daughter of a peasant can become a doctor,
    that a son of a mineworker can become the head of the mine,
    that a child of farm workers can become the president of a
    great nation."
    </blockquote>

</p>
{% endblock content %}


